# Python bytecode and cache
__pycache__/
*.py[cod]

# Django database
db.sqlite3

# Environment variables
.env

# VS Code settings
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Zip files
*.zip

# Django migration cache (optional)
**/migrations/__pycache__/
**/migrations/*.pyc
